# Preprocessing

## 최종 데이터셋 만들기

In [1]:
import pandas as pd

In [2]:
LectureTable = pd.read_csv('../data/2020LectureTable.csv', index_col=0)
LectureReview = pd.read_csv('../data/2020LectureReview.csv', index_col=0)
DepartmentInfo = pd.read_csv('../data/YonseiDepartmentInfo.csv', index_col=0)

In [3]:
LectureTable.head()

,LectureGrade,LectureCategory,LectureId,LectureCredit,LectureName,LectureProf,LectureTime,LectureRoom,LectureWanted,LectureInstruction,LectureUrl,LectureStar
0,0,공기/CC,YCA1001-01-00,0.0,채플(1),곽호철,화2,I종301,159,"국제캠퍼스과목, 강의동영상제공, 영어강의, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932384,3.00
1,0,공기/CC,YCA1001-02-00,0.0,채플(1),곽호철,화3,I종301,165,"국제캠퍼스과목, 강의동영상제공, 영어강의, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932384,3.00
2,0,공기,YCA1001-04-00,0.0,채플(1),곽호철,수3,I종301,170,"국제캠퍼스과목, 강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932384,3.00
3,0,공기,YCA1001-06-00,0.0,채플(1),이정철,목3,I종301,77,"국제캠퍼스과목, 강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/2082120,0.00
4,0,공기,YCA1003-01-00,0.0,채플(3),김동환,화2,대강당(신촌),77,"강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932445,4.86

In [4]:
LectureReview.head()

,LectureUrl,LectureName,LectureProf,ReviewStar,ReviewSemester,ReviewText
0,https://yonsei.everytime.kr/lecture/view/3640,INTERNATIONAL MONEY AND CAPITAL MARKETS,함준호,100.0,20년 1학기 수강자,시험 잘 멋본 것 같은데 에이제로 떠서 놀람 감사합니다 교수님
1,https://yonsei.everytime.kr/lecture/view/3640,INTERNATIONAL MONEY AND CAPITAL MARKETS,함준호,80.0,20년 1학기 수강자,"에 뭐,,, 그냥 괜찮았는데 자습기간을 안 주고 전범위 시험본다그러니까 당황스러웠네..."
2,https://yonsei.everytime.kr/lecture/view/3640,INTERNATIONAL MONEY AND CAPITAL MARKETS,함준호,80.0,19년 1학기 수강자,한국은행 금융통화위원을 지내고 오신 교수님이시라 그런지 간간히 들려주시는 교수님의 ...
3,https://yonsei.everytime.kr/lecture/view/3640,INTERNATIONAL MONEY AND CAPITAL MARKETS,함준호,100.0,19년 1학기 수강자,교수님 너무 똑똑하시고 피피티 위주로 수업하시기는 하는데 현장경험이 풍부하셔서 그런...
4,https://yonsei.everytime.kr/lecture/view/943471,학교교실의현장연구방법입문,박순용,80.0,20년 1학기 수강자,매주 온라인 강의를 늦게 올려주셔서 불편했지만 수업 내용은 무난하고 좋았습니다. 매...

In [5]:
DepartmentInfo.head()

,대학,모집단위,계열,MajorId,MajorId_full,수시,정시,면접형,활동 우수형,국제형,기회 균형,논술 전형,특기자 전형,총합
0,문과대학,국어국문학과,인문,KOR,KOR,27,18,4,12,0,2,9,0,72
1,문과대학,중어중문학과,인문,CLL,CLL,21,11,0,6,0,0,6,9,53
2,문과대학,영어영문학과,인문,ELL,ELL,49,24,6,10,0,3,12,18,122
3,문과대학,독어독문학과,인문,GER,GER,20,10,0,6,0,0,5,9,50
4,문과대학,불어불문학과,인문,FRE,FRE/TTP,22,11,0,7,0,0,6,9,55

In [6]:
LectureTable.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7266 entries, 0 to 3614
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LectureGrade        7266 non-null   object
 1   LectureCategory     7266 non-null   object
 2   LectureId           7266 non-null   object
 3   LectureCredit       7266 non-null   float64
 4   LectureName         7266 non-null   object
 5   LectureProf         7191 non-null   object
 6   LectureTime         6417 non-null   object
 7   LectureRoom         6417 non-null   object
 8   LectureWanted       7266 non-null   int64
 9   LectureInstruction  6703 non-null   object
 10  LectureUrl          7266 non-null   object
 11  LectureStar         7266 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 738.0+ KB

In [7]:
LectureReview.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78550 entries, 0 to 38050
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LectureUrl      78550 non-null  object
 1   LectureName     78550 non-null  object
 2   LectureProf     78481 non-null  object
 3   ReviewStar      76517 non-null  float64
 4   ReviewSemester  76517 non-null  object
 5   ReviewText      76517 non-null  object
dtypes: float64(1), object(5)
memory usage: 4.2+ MB

In [8]:
print(LectureTable.shape)
print(LectureReview.shape)

(7266, 12)
(78550, 6)

In [9]:
data = LectureTable.copy()

###  `LectureUrl` 컬럼 기준 중복 데이터 제거하기

In [10]:
data.drop_duplicates('LectureUrl', keep='first', inplace=True)

### `LectureReview` 데이터셋의 컬럼들 추가하기

In [11]:
LectureReview['ReviewText'].fillna('', inplace=True)

In [12]:
# ReviewText 컬럼 생성
grouped = LectureReview.groupby('LectureUrl')
for key, group in grouped:
    res = ' '.join(LectureReview[LectureReview['LectureUrl']==key]['ReviewText'])
    data.loc[data['LectureUrl']==key, 'ReviewText'] = res

# ReviewText 컬럼 NA imputation
data['ReviewText'].fillna('', inplace=True)

### `DepartmentInfo` 데이터셋의 컬럼들 추가하기

In [13]:
data['MajorId'] = data['LectureId'].apply(lambda x: x[:3])

In [14]:
data = pd.merge(data, DepartmentInfo[['MajorId', 'MajorId_full', '모집단위', '총합']], how='left', on='MajorId')

In [15]:
data.rename(columns={'모집단위':'MajorName', '총합':'MajorSize'}, inplace=True)

### 최종 데이터셋 저장하기

In [16]:
data

,LectureGrade,LectureCategory,LectureId,LectureCredit,LectureName,LectureProf,LectureTime,LectureRoom,LectureWanted,LectureInstruction,LectureUrl,LectureStar,ReviewText,MajorId,MajorId_full,MajorName,MajorSize
0,0,공기/CC,YCA1001-01-00,0.0,채플(1),곽호철,화2,I종301,159,"국제캠퍼스과목, 강의동영상제공, 영어강의, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932384,3.00,교수님 너무 멋있어요 ㅠ ㅠ 딴거 듣고 반해서 들었어요 시험 체감 난이도는 중간 ...,YCA,NaN,NaN,NaN
1,0,공기,YCA1001-06-00,0.0,채플(1),이정철,목3,I종301,77,"국제캠퍼스과목, 강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/2082120,0.00,,YCA,NaN,NaN,NaN
2,0,공기,YCA1003-01-00,0.0,채플(3),김동환,화2,대강당(신촌),77,"강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/1932445,4.86,온라인 채플은 전설이다...시간도 짧고 자막까지 달아주니까 편하게 들을 수 있음. ...,YCA,NaN,NaN,NaN
3,0,공기,YCA1003-03-00,0.0,채플(3),정미현,수2,대강당(신촌),109,"강의동영상제공, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/203447,4.32,송진호교수님 데구를 들었었는데 진짜 명강의였어서 오에스도 들었음.교수님 진짜 강의 ...,YCA,NaN,NaN,NaN
4,0,공기/CC,YCA1003-05-00,0.0,채플(3),이대성,수5,대강당(신촌),182,"강의동영상제공, 영어강의, P/NP평가 과목",https://yonsei.everytime.kr/lecture/view/203240,4.15,채플은 비대면 최고네요ㅋㅋ 15분정도 되는영상2개보고 소감문 쓰면되는데 아무말 금방...,YCA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5255,0,일반,ENG4010-01-00,3.0,엔지니어현장실습,윤태섭,NaN,NaN,0,P/NP평가 과목,https://yonsei.everytime.kr/lecture/view/2164667,0.00,,ENG,ENG/MAT/DAA,화공생명공학부,149.0
5256,0,교선,CSE5013-01-00,3.0,인공지능이론,신원용,"화2,3,수2,3",과B101,1,"영어강의, 학부생(교환/방문학생) 허용",https://yonsei.everytime.kr/lecture/view/2164668,0.00,,CSE,NaN,NaN,NaN
5257,0,일반,U0023-01-00,9.0,커리어연세현장실습Ⅱ,서은석,NaN,NaN,0,P/NP평가 과목,https://yonsei.everytime.kr/lecture/view/2164669,0.00,,U00,NaN,NaN,NaN
5258,0,교선,ISF6038-01-00,3.0,COMPARATIVE CORPORATE LAW AND GOVERNANCE,김준기,"월8,9,수8",광B106,0,"영어강의, Only Graduate Students Allowed",https://yonsei.everytime.kr/lecture/view/108336,0.00,,ISF,NaN,NaN,NaN
5259,0,전선,ECO3013-01-00,9.0,커리어연세현장실습Ⅱ,"김철영,서은석",NaN,NaN,0,P/NP평가 과목,https://yonsei.everytime.kr/lecture/view/2164670,0.00,,ECO,ECO,경제학부,288.0

In [17]:
data.to_csv('../data/dataset.csv')